/*!**********************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[3]!./css/hero.css ***!
  \**********************************************************************************************************************************************************************************************************************************************************/
/*!**********************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[3]!./css/hero.css ***!
  \**********************************************************************************************************************************************************************************************************************************************************/
/*!**********************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[3]!./css/hero.css ***!
  \**********************************************************************************************************************************************************************************************************************************************************/
/*!**********************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[3]!./css/hero.css ***!
  \**********************************************************************************************************************************************************************************************************************************************************/

  @font-face {
    font-family: 'Pixeboy';
    src: url('/font/Pixeboy.ttf') format('truetype'); 
}
  *{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
section.Animated {
    width: 100%;
    background-color: #05050A;
    height: 99vh;
    position: relative;
}

.main-Animated {
    width: 100%;
}

.badal {
    width: 100%;
    height: 60vh;
    white-space: nowrap;
    overflow: hidden;
}

.badal img {
    width: 150px; /* Adjust the width of the images as needed */
    height: auto; /* Maintain aspect ratio */
    display: inline-block;
    margin-right: 20px; /* Adjust spacing between images */
}

/* Keyframes for animation */
@keyframes marquee {
    0% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(-100%);
    }
}

/* Apply animation */
.badal img {
    animation: marquee 10s linear infinite; /* Adjust duration as needed */
    width: 100%;
    height: 100%;
    margin: 0px;
}







header {
    width: 100%;
    padding: 2%;
    position: absolute;
    z-index: 999;
}

.header-main {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-ul {
    width: 20%;
}

.header-ul ul {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    gap: 40px;
}

.header-ul ul li {
    list-style: none;
    color: #FFF;
    text-align: center;
    font-family: "GohuFont 14 Nerd Font";
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 21.647px; /* 135.294% */
    text-transform: uppercase;
}

.contunir {
    width: 70%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: absolute;
    top: 15%;
    z-index: 999;
}

.Animated-tital {
    width: 311px;
}

.Animated-tital h3 {
    color: #FFF;
    text-align: center;
    font-family: "Pixeboy";
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: 64px; /* 133.333% */
}

.Animated-tital  h2 {
    color: #4AF5D3;
    text-align: center;
    font-family: 'Pixeboy';
    font-size: 64px;
    font-style: normal;
    font-weight: 400;
    line-height: 64px; /* 100% */
}

.Animated-tital ul {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 14px;
    padding: 10px 0px 30px  0px;
}
/* .play img {
    width: 100%;
} */
.Animated-tital ul li {
    list-style: none;
    display: flex;
    gap: 10px;
    width: 100%;
    color: #FFF;
    font-family: "GohuFont 14 Nerd Font";
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 32px; /* 177.778% */
}



.Animated-tital ul li svg {
    width: 22px;
    height: 22px;
}

.play {
    width: 100%;
    /* position: absolute; */
    /* bottom: 0px; */
    /* height: 100vh; */
}

.Animated-btn-box {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 24px;
}

.Animated-btn-box button {
    border-radius: 6px;
    border: 1px solid #410DFF;
    background: rgba(65, 13, 255, 0.25);
    box-shadow: 0px 0px 3px 0px #410DFF;
    color: #FFF;
    text-align: center;
    font-family: "GohuFont 14 Nerd Font";
    font-size: 13px;
    font-style: normal;
    font-weight: 500;
    line-height: normal; /* 131.789% */
    text-transform: uppercase;
    padding: 10px;
    margin: 0px;
    transition: 0.5s;
    width: 40%;
}

button.launch {
    border-radius: 6px;
    border: 1px solid #4AF5D3 !important;
    background: rgba(74, 245, 211, 0.25) !important;
    box-shadow: 0px 0px 3px 0px #4AF5D3 !important;
}



button.launch:hover {
    border-radius: 6px;
    border: 1px solid #FF5E4F !important;
    color: #FF5E4F !important;
    background: #4AF5D3 !important;
    box-shadow: 0px 0px 3px 0px #4AF5D3 !important;
}

.Animated-btn-box button:hover {
    border-radius: 6px;
    border: 1px solid #4AF5D3;
    background: #410DFF ;
    color:#4AF5D3 ;
    box-shadow: 0px 0px 3px 0px #410DFF;
}
body{
    background-color: #05050A;
}
.play img {
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: 0px;
}


.blinker {
   
    animation: blink 1.5s infinite alternate; 
  }
























  @keyframes blink {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }




















.glitch {
    position: relative;
    z-index: 1;
    animation: shift 1s ease-in-out infinite alternate;
  }
  
  .glitch:before,
  .glitch:after {
    display: block;
    content: attr(data-glitch);
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.8;
  }
  
  .glitch:before {
    animation: glitch 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) both infinite;
    color: #f68272;
    z-index: -1;
  }

  
  .glitch:after {
    animation: glitch 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) reverse both infinite;
    color: #4AF5D3;
    z-index: -2;
  }
  
  @keyframes glitch {
    0% {
      transform: translate(0);
    }
  
    20% {
      transform: translate(-3px, 3px);
    }
  
    40% {
      transform: translate(-3px, -3px);
    }
  
    60% {
      transform: translate(3px, 3px);
    }
  
    80% {
      transform: translate(3px, -3px);
    }
  
    to {
      transform: translate(0);
    }
  }
  
  @keyframes shift {
    0%, 40%, 44%, 58%, 61%, 65%, 69%, 73%, 100% {
      transform: skewX(0deg);
    }
  
    41% {
      transform: skewX(10deg);
    }
  
    42% {
      transform: skewX(-10deg);
    }
  
    59% {
      transform: skewX(40deg) skewY(10deg);
    }
  
    60% {
      transform: skewX(-40deg) skewY(-10deg);
    }
  
    63% {
      transform: skewX(10deg) skewY(-5deg);
    }
  
    70% {
      transform: skewX(-50deg) skewY(-20deg);
    }
  
    71% {
      transform: skewX(10deg) skewY(-10deg);
    }
  }















  @media screen and (max-width: 1600px){
    .Animated-tital h3 {
        font-size: 40px;
        line-height: 40px;
        text-align: left;
    }
    
    .Animated-tital h2 {
        font-size: 48px;
        text-align: left;
        line-height: 52px;
    }
    
    .Animated-tital ul {
        gap: 10px;
        padding: 8px 0px 20px 0px;
    }
    
    .Animated-btn-box button {
        padding: 8px;
    }
    
    .Animated-tital ul li svg {
        width: 18px;
        height: 18px;
    }
    
    li {}
    
    .Animated-tital ul li {
        align-items: center;
    }
    
    .header-ul ul li {
        font-size: 14px;
    }
  }
  
  
  

    
    
  @media screen and (max-width: 1440px){


    
    .Animated-tital h3 {
        font-size: 35px;
        text-align: left;
    }
    .Animated-tital h2 {
        font-size: 38px;
        line-height: 25px;
        text-align: left;
    }
    
    .Animated-tital ul li {
        font-size: 14px;
        gap: 8px;
        align-items: center;
    }
    
    .Animated-tital ul li svg {
        width: 18px;
        height: 18px;
    }
    
    .contunir {
        width: 80%;
        top: 12%;
    }
    
    .Animated-btn-box button {
        width: 32%;
        padding: 8px 0px;
        font-size: 10px;
    }
    
    .Animated-tital ul {
        padding: 8px 0px 10px 0px;
        gap: 5px;
    }
    
    .Animated-btn-box {
        gap: 15px;
    }
}


@media screen and (max-width: 1024px){
    .Animated-tital h3 {
        font-size: 25px;
    }
    
    .Animated-tital h2 {
        font-size: 34px;
    }
    
    .Animated-tital ul li {
        font-size: 12px;
        line-height: 27px;
    }
    
    .Animated-tital ul li svg {
        width: 15px;
        height: 15px;
    }
    
    .Animated-btn-box button {
        width: 28%;
        padding: 8px;
        font-size: 10px;
    }
    
    .header-ul ul li {
        font-size: 12px;
    }
    
    .header-ul ul {
        gap: 30px;
    }
    
    .header-logo {
        width: 15%;
    }
    
    .contunir {
        width: 85%;
        top: 14%;
    }
}


@media screen and (max-width: 768px){
    .Animated-tital h3 {
        font-size: 25px;
    }
    
    .Animated-tital h2 {
        font-size: 34px;
    }
    
    .Animated-tital ul li {
        font-size: 12px;
        line-height: 25px;
    }
    header {
        padding: 2% 4%;
    }
    .Animated-tital ul li svg {
        width: 12px;
        height: 12px;
    }
    
    .Animated-btn-box button {
        width: 28%;
        padding: 8px;
        font-size: 10px;
    }
    
    .header-ul ul li {
        font-size: 12px;
    }
    
    .header-ul ul {
        gap: 30px;
    }
    
    .header-logo {
        width: 15%;
    }
    
    .contunir {
        width: 85%;
        top: 14%;
    }
    
    .play img {
        height: 100%;
    }
    
    .contunir {
        width: 100%;
        top: 16%;
    }
    
    .Animated-tital h2 {
        font-size: 30px;
    }
    
    .Animated-tital h3 {
        font-size: 22px;
        line-height: 22px;
    }
    
    .Animated-btn-box button {
        padding: 5px;
        font-size: 8px;
        width: 24%;
    }
}


@media screen and (max-width: 600px){
    .Animated-tital {
        width: 45%;
    }
    
    .play img {
        height: 70%;
        object-fit: contain;
    }
    
    .badal img {
        height: 55%;
    }
    
    .contunir {
        width: 100%;
        top: 32%;
    }
    
    .Animated-btn-box button {
        width: 40%;
    }
    
    .Animated-tital h2 {
        font-size: 28px;
    }
    
    .Animated-tital h3 {
        font-size: 20px;
    }
    
    .Animated-tital ul li {
        line-height: 20px;
    }
    header {
        padding: 4% 4%;
    }
    
    .header-logo {
        width: 28%;
    }
    
    .header-ul ul {
        gap: 20px;
    }
    
    .header-ul ul li {
        font-size: 10px;
    }
}

@media screen and (max-width: 330px){
    .Animated-tital {
        width: 58%;
    }

    .contunir {
        width: 100%;
        top: 24%;
    }
}